@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.settings {
  height: 100vh;
  background-color: #e8f3fc;
    display: grid;
    grid-template-rows: 1fr auto;
  padding: 12px 16px 12px;
}

.settings-row {
  border: none;
}

.settings-row-hint {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  color: #b1adcb;
  margin-top: 8px;
}

.settings-row-label {
  color: #367bb8;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
  display: inline-block;
}

.settings-row-input {
  border: 1px solid #72b4ee;
  height: 30px;
  border-radius: 4px;
  text-indent: 8px;
  font-size: 14px;
  font-weight: 300;
}

.settings-row-input--withicon { 
  flex:1;
  margin-right: 8px;
}

.settings-row-button-save {
  background: #72b4ee;
  color: #faf9f9;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  vertical-align: middle;
}